/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font Face */
@font-face {

    font-family: 'eb_garamond_initials';
    src: url('../Font/ebgaramond-initialsf2-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'montserratregular';
    src: url('../Font/montserrat-regular-webfont.woff') format('woff2');
    font-weight: normal;
    font-style: normal;

}

*{

    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

html{

    scroll-behavior: smooth;

}

body{

    font-family: 'montserratregular';
    background: rgb(238, 238, 238);

}

/* Navbar */
.navbar{

    position: fixed;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;

}

.navbar .navbar-nav{

    width: 35%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    border-radius: 25px;
    background-color: rgb(59, 163, 82);

}

.navbar .navbar-nav li, a{

    list-style: none;
    display: inline;
    color: rgb(255, 255, 255);
    margin-right: .5rem;
    transition: .1s ease-in-out;

}

.navbar .navbar-nav li, a:hover{

    color: rgb(224, 0, 94);

}

.navbar .navbar-extra li{

    display: none;

}

/* Hero */
.hero{

    /* margin-top: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.hero .container{

    width: 99%;
    height: 460px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 0px -1px 1px rgb(81, 201, 107);

}

.hero .container .row{

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;

}

.hero .container .row .col-f{

    /* border: 1px solid black; */
    width: 400px;

}

.hero .container .row .col-f img{

    top: 60px;
    left: 100px;
    margin-right: 30rem;
    /* position: relative; */
    border-radius: 0px 0px 500px 500px;
    box-shadow: 0px 10px 0px rgb(4, 141, 77), 0px 30px 10px -10px orange;

}

.hero .container .row .col{

    /* border: 1px solid black; */

}

.hero .container .row .col h1{

    font-family: 'montserratregular';
    font-size: 26pt;
    font-weight: 900;
    color: rgb(190, 0, 143);

}

.hero .container .row .col span{

    color: rgb(255, 0, 43);

}

.hero .container .row-2{

    width:  80%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.hero .container .row-2 .col-1 h1{

    font-size: 2rem;
    font-weight: bolder;
    font-family: 'montserratregular';

}

.hero .container .row-2 .col-2{

    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.hero .container .row-2 .col-2 .card{

    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    margin-bottom: 4rem;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    background: white;
    transition: .1s ease-in-out;

}

.hero .container .row-2 .col-2 .card:hover{

    background: #C1F2B0;

}

.hero .container .row-2 .col-2 .card img{

    transition: .5s ease-in-out;

}

.hero .container .row-2 .col-2 .card img:hover{

    transform: scale(1.2);

}

/* Service */
.service {

    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 8rem;
    padding: 4rem 2rem;
    box-sizing: border-box;

}

.service .container {
    max-width: 1400px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}

.service .container .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.service .container .row h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.carousel{

    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    overflow-x: scroll;

}

.carousel .carousel-inner{

    margin-left:40rem;
    display: flex;
    align-items: flex-end;

}

.carousel .carousel-inner .carousel-item{

    width: 150px;
    height: 150px;
    padding: 0 10rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-right: 1px solid black;
    background-image: url(../Assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}

/* Projects */
.projects{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -8rem;
    padding: 2rem 10rem;
    
}

.projects .title h1{

    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;

}

.projects .title h1::after{

    content: '';
    display: block;
    padding-bottom: .5rem;
    border-bottom: .2rem dashed rgb(228, 0, 140);
    transform: scaleX(.2);

}

.projects .container{

    width: 100%;
    padding: 2rem;
    background: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;

}

.projects .container:hover{

    background: #C1F2B0;

}

.projects .container .row{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.projects .container .row .col h1{

    font-size: 4rem;
    font-weight: bolder;

}

.projects .container .row .col p{

    color: rgb(102, 102, 102);

}

.projects .container .col h4{

    font-size: 1.5rem;

}

.projects .container .col a{

    color: rgb(102, 102, 102);

}

.projects .container .row-2{

    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.projects .container .row-2 .row h2{

    font-size: 2rem;
    font-weight: bolder;
    font-family: 'eb_garamond_initials';
    color: rgb(102, 102, 102);

}

.projects .container .row-2 .col{

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

}

.projects .container .row-2 .col .card{

    width: 510px;
    height: 225px;
    padding: .1rem;
    margin-right: .5rem;
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projects .container .row-2 .col .card-1{

    height: 215px;
    border: 5px solid black;
    border-radius: 5px;

}

.projects .container-2{

    width: 100%;
    padding: 2rem;
    margin-top: 50px;
    background: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;

}

.projects .container-2:hover{

    background: #C1F2B0;

}

.projects .container-2 .row{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.projects .container-2 .row .col h1{

    font-size: 3rem;
    font-weight: bolder;

}

.projects .container-2 .row .col p{

    color: rgb(102, 102, 102);

}

.projects .container-2 .row .col h4{

    font-size: 1.5rem;

}

.projects .container-2 .row .col a{

    color: rgb(102, 102, 102);

}

.projects .container-2 .row-2{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.projects .container-2 .row-2 .row h1{

    font-size: 2rem;
    font-weight: bold;
    font-family: 'eb_garamond_initials';
    color: rgb(102, 102, 102);

}

.projects .container-2 .row-2 .col{

    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;

}

.projects .container-2 .row-2 .row-2 .col .card{

    width: 510px;
    height: 225px;
    margin-right: .5rem;
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projects .container-2 .row-2 .row-2 .col .card-1{

    width: 210px;
    height: 280px;
    margin-right: .5rem;
    border: 5px solid black;
    border-radius: 5px;

}

/* Certificate */
.certif{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 2rem;

}

.certif .container{

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.certif .container .row{

    width: 100%;
    height: 100px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.certif .container .row h1{

    font-size: 24pt;
    font-weight: bolder;
    font-family: 'eb_garamond_initials';

}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.carousel-btn {
    padding: .5rem;
    margin: 0 .5rem;
    background: white;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    color: black;
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.carousel-btn.active {
    color: rgb(0, 0, 0);
    background: #C1F2B0;
    box-shadow: 0px 0px 10px rgb(0, 83, 28);
    opacity: 1;
}

.carousel-items {
    display: flex;
    overflow: hidden;
    width: 500px;
}

.item {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    transition: transform 0.5s ease;
}

.item img {
    width: 500px;
    height: 300px;
}

.item .col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(59, 59, 59);
    border-radius: 0px 0px 20px 20px;
    border-top: 1px dotted white;
}

/* Contact */
.contact{

    width: 100%;
    position: relative;
    padding: 5rem;
    background-image: linear-gradient(0deg, rgb(61, 61, 61),rgb(238, 238, 238));
    display: flex;
    flex-direction: column;

}

.contact .container{

    display: flex;
    justify-content:space-evenly;
    position: relative;

}

.contact .container .row{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact .container .row .col{

    padding: .5rem;
    display: flex;
    align-items: center;

}

.contact .container .row .col h1{

    font-size: 20pt;
    font-weight: bolder;
    font-family: 'montserratregular';

}

.contact .container .row .col p{

    color: rgb(255, 255, 255);

}

.contact .container .row .col .whatsapp{

    filter: blur(5px);
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.contact .container .row .col .whatsapp:hover{

    filter: blur(0);

}

.contact .container .row form{
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

.contact .container .row form label{

    font-size: 16pt;
    font-weight: bolder;
    font-style: italic;
    color: red;

}

.contact .container .row .rounded{

    border-radius: 5px;
    resize: none;
    outline: none;

}

.contact .row{

   width: 100%;

}

.contact .row .copy-item{

    width: 100%;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    font-size: 10pt;

}

.contact .row .copy-item span{

    color: red;

}

.contact .row .copy-logo{

    width: 200px;
    position:fixed;
    bottom: 0px;
    left: -10px;
    cursor:pointer;

}

.contact .row .copy-logo img{

    width: 200px;
    margin-left: 0px;

}

.contact .row .copy-logo p {
    width: 150px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top:90px;
    left: -250px;  /* Sembunyikan p di kiri */
    text-align: center;
    background: linear-gradient(90deg, rgb(214, 0, 125),rgb(230, 215, 5));
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    transform: scale(0);
    transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); /* Transisi untuk animasi */
}

.contact .row .copy-logo:hover p {
    left: 25px;
    bottom: 25px;
    transform: scale(1);
}

/* media queries */
@media (max-width: 500px) {  

    html{

        font-size: 55%;

    }

    body{

        width: 430px;

    }

    #navbar {
        position: fixed;
        top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 50px;
        background-color: transparent;
        z-index: 999999999999999999;
    }
    
    #navbar .navbar-nav {
        width: 10%;
        height: 30vh;
        position: fixed;
        top: 31px;
        left: -100px;
        background: linear-gradient(180deg, rgb(219, 11, 132), white);
        display: block;
        text-align: center;
        border-radius: 0px 25px 5px 0px;
        transition: left 0.3s ease; /* Smooth transition */
    }
    
    #navbar .navbar-nav.active {
        left: 0px;
    }
    
    #navbar .navbar-nav li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    #navbar .navbar-nav li a:hover {
        color: rgb(8, 184, 102);
    }
    
    #navbar .navbar-extra li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 10px;
        left: 0;
        z-index: 99999999999;
    }
    
    #menu-button {
        cursor: pointer;
        color: rgb(4, 173, 75);
        transition: 0.3s ease;
    }
    
    #menu-button.active {
        color: rgb(212, 9, 104);
        transform: rotate(2700deg); /* Rotate animation for button */
    }
    

    /* hero */
    #hero{

        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(../Assets/img/off.jpg);
        background-position:top;
        background-repeat: no-repeat;
        background-size: contain;

    }

    #hero .container{

        width: 100%;
        height: 100vh;
        margin-top: 50px;
        border-radius: 50px 50px 0px 0px;
        background: linear-gradient(180deg, white 50%, rgb(238, 238, 238) 90%);
        box-shadow: 0px -5px 0px rgb(81, 201, 107);
        z-index: 1;

    }

    #hero .container .row{

        margin-top: 40px;
        display: block;

    }

    #hero .container .row .col-f{

        width: 100%;
        display: flex;

    }

    .hero .container .row .col-f img{

        width: 100px;
        margin: auto;
        border-radius: 0px 0px 500px 500px;
        box-shadow: 0px 10px 0px rgb(4, 141, 77), 0px 30px 10px -10px orange;
    
    }

    .hero .container .row .col{

        margin: 3rem 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
    
    .hero .container .row-2{
    
        width:  100%;
        margin: 0 auto;
        padding: .5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .hero .container .row-2 .col-2{
    
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    
    }
    
    .hero .container .row-2 .col-2 .card{
    
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
        margin-bottom: 4rem;
        box-shadow: 0px 0px 5px black;
        border-radius: 5px;
        background: white;
        transition: .1s ease-in-out;
    
    }
    
    .hero .container .row-2 .col-2 .card:hover{
    
        background: #C1F2B0;
    
    }
    
    .hero .container .row-2 .col-2 .card img{
    
        width: 40px;
        transition: .5s ease-in-out;
    
    }
    
    .hero .container .row-2 .col-2 .card img:hover{
    
        transform: scale(1.2);
    
    }

    /* service */
    #service{

        width: 100%;
        height: 200px;
        margin-top: -5rem;
        display: flex;
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;
        border: 1px solid black;
        background-color: rgb(49, 74, 104);

    }

    .service .container {

        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .service .container .row {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    
    .service .container .row h1 {
        font-size: 2rem;
        font-weight: bolder;
        color: rgb(233, 20, 127);
    }

    .container .row h1 span {
        display: none;
    }

    .carousel{
    
        width: 100%;
        padding: 1em;
        margin-top: -5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
    
    }

    .carousel::-webkit-scrollbar{

        display: none;

    }
    
    .carousel .carousel-inner{
    
        margin-left:30rem;
        display: flex;
    
    }
    
    .carousel .carousel-inner .carousel-item{
    
        width: 5px;
        height: 50px;
        padding: 0 5rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px black;
        background: white;
        border-radius: 5px;
        background-image: url(../Assets/img/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    
    }

    .carousel .carousel-inner .carousel-item img{

        width: 20px;

    }

    /* Projects */
    .projects{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -5rem;
        padding: 2rem 5rem;
        
    }

    .projects .title{

        width: 200px;

    }

    .projects .title h1{

        font-size: 2rem;

    }

    .projects .container{

        width: 100%;
        padding: 2rem;

    }

    .projects .container .row{

        display: flex;
        align-items:flex-start;
        flex-direction: row;
        justify-content:space-evenly;

    }

    .projects .container .row .col{


    }

    .projects .container .row .col h1{

        font-size: 2rem;
        font-weight: bolder;

    }

    .projects .container .row .col p{

        font-size: .5rem;

    }

    .projects .container .row .col h4{

        font-size: 1rem;

    }

    .projects .container .row .col a{

        font-size: .5rem;

    }


    .projects .container .row .col .icon-container{

        display: inline-flex; /* untuk menjaga elemen i tetap di dalam span */
        width: 15px; /* Atur lebar sesuai kebutuhan */
        height: 20px; /* Atur tinggi sesuai kebutuhan */
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */

    }

    .projects .container .row .col i{

        width: 100%;
        height: 100%; 
        font-size: 10px; 

    }

    .projects .container .row-2{

        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .projects .container .row-2 .row h2{
    
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: 'eb_garamond_initials';
        color: rgb(102, 102, 102);
    
    }

    .projects .container .row-2 .row{

        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        border: none;

    }
    
    .projects .container .row-2 .col{
    
        display: flex;
        flex-direction: column;
        align-items:last baseline;
        gap: 1rem;
    
    }
    
    .projects .container .row-2 .col .card{
    
        width: 153px;
        height: 70px;
        padding: .1rem;
        margin-right: .5rem;
        border: 4px solid black;
        border-radius: 5px;
        display: flex;
        align-items:center;
        justify-content: center;
    
    }

    .projects .container .row-2 .col .card img{

        width: 145px;
        height: 69px;
        border-radius: 5px;

    }
    
    .projects .container .row-2 .col .card-1{
    
        width: 110px;
        height: 217px;
        margin-right: .5rem;
        border: 6px solid black;
        border-radius: 5px;
    
    }

    .projects .container .row-2 .col .card-1 img{

        width: 100px;

    }

    .projects .container-2 .row .col h1{

        font-size: 2rem;
        font-weight: bolder;
    
    }

    .projects .container-2 .row .col h4{

        font-size: 1rem;
        font-weight: bolder;
    
    }

    .projects .container-2 .row-2 .row h1{

        font-size: 1.5rem;
    
    }

    .projects .container-2 .row-2 .col{

        display: flex;
        align-items:stretch;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
    
    }

    .projects .container-2 .row-2 .row-2 .col .card{

        width: 150px;
        height: 75px;
        margin-right: .5rem;
        border: 5px solid black;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .projects .container-2 .row-2 .row-2 .col .card img{

        width: 150px;

    }
    
    .projects .container-2 .row-2 .row-2 .col .card-1{
    
        width: 108px;
        height: 140px;
        margin-right: .5rem;
        border: 5px solid black;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .projects .container-2 .row-2 .row-2 .col .card-1 img{

        width: 100px;

    }

    /* Certificate */
    .certif{

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 2rem;
    
    }
    
    .certif .container{
    
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .certif .container .row{
    
        width: 100%;
        height: 100px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .certif .container .row h1{
    
        font-size: 2.5rem;
        font-weight: bolder;
        font-family: 'eb_garamond_initials';
    
    }
    
    .carousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    
    .carousel-btn {
        padding: .5rem;
        margin: 0 .5rem;
        background: white;
        font-size: 1rem;
        cursor: pointer;
        z-index: 1;
        color: black;
        opacity: 0.5;
        border-radius: 5px;
        box-shadow: 0px 0px 10px black;
    }
    
    .carousel-btn.active {
        color: rgb(0, 0, 0);
        background: #C1F2B0;
        box-shadow: 0px 0px 10px rgb(0, 83, 28);
        opacity: 1;
    }
    
    .carousel-items {
        display: flex;
        overflow: hidden;
        width: 100px;
    }
    
    .item {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 5px 5px;
        transition: transform 0.5s ease;
    }
    
    .item img {
        width: 100px;
        height: 100px;
    }
    
    .item .col {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        background: rgb(59, 59, 59);
        border-radius: 0px 0px 5px 5px;
        border-top: 1px dotted white;
    }

    /* Contact */
    .contact{

        width: 100%;
        height: 20%;
        padding: 5rem;
        position: relative;
        bottom: 0px;
        background-image: linear-gradient(0deg, rgb(61, 61, 61),rgb(238, 238, 238));
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */

    }

    .contact .container{

        height: 100%;
        display: flex;
        align-items: first baseline;
        justify-content:space-evenly;
        position: relative;

    }

    .contact .container .row{

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .contact .container .row .col{

        padding: .5rem;
        display: flex;
        align-items: center;

    }

    .contact .container .row .col h1{

        font-size: 1.2rem;
        font-weight: bolder;
        font-family: 'montserratregular';

    }

    .contact .container .row .col img{

        width: 20px;

    }

    .contact .container .row .col p{

        color: rgb(255, 255, 255);

    }

    .contact .container .row .col .whatsapp{

        filter: blur(5px);
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    }

    .contact .container .row .col .whatsapp:hover{

        filter: blur(0);

    }

    .contact .container .row form{
        
        display: flex;
        flex-direction: column;
        align-items:flex-start;

    }

    .contact .container .row form label{

        font-size: 1.2rem;
        font-weight: bolder;
        font-style: italic;
        color: red;

    }

    .contact .container .row .rounded{

        width: 100px;
        height: 50px;
        border-radius: 5px;
        resize: none;
        outline: none;

    }

    .contact .row .copy-item{

        width: 100%;
        padding: 2rem;
        text-align: center;
        box-sizing: border-box;
        font-size: 10pt;

    }

    .contact .row .copy-item p{

        font-size: 1rem;

    }

    .contact .row .copy-item span{

        color: red;

    }

    .contact .row .copy-logo{

        width: 30%;
        height: 150px;
        display: flex;
        align-items:first baseline;
        flex-direction: column;
        justify-content: center;
        position:fixed;
        bottom: 20px;
        left: -20px;
        cursor:pointer;

    }

    .contact .row .copy-logo img{

        width: 70%;

    }

    .contact .row .copy-logo p {
        width: 100px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        top: 90px;
        text-align: center;
        background: linear-gradient(90deg, rgb(214, 0, 125), rgb(230, 215, 5));
        border-radius: 5px;
        box-shadow: 0px 0px 5px black;
    }
}